{% extends 'base.html.twig' %}

{% block title %}Erreur de validation du paiement de votre commande! E-commerce Sadio-shop!{% endblock %}

{% block content %}

    <h2>Erreur de paiement</h2>
<p>
    Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
    Nous n'avons pas pu valider le paiement de votre commande n°<strong>{{ order.reference }}</strong>, <br/>
    Une confirmation d'erreur vient de vous être envoyer par email à l'adresse <strong>{{ order.user.email }}</strong>
    <hr>

    <a href="{{path('order') }}" class="btn btn-success">Réessayer le paiement</a>
</p>
   
{% endblock %}
